<a href="https://colab.research.google.com/github/learneverythingai/Shivam-Modi-Data-Science-Analytics-Course/blob/main/Python%20Course/Python_Video1%262.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Data Types

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple

Mapping Type:	dict

Set Types:	set

Boolean Type:	bool

Getting the Data Type

In [ ]:
nos=10
print("the number is:",nos)
print(type(nos))

the number is: 10
<class 'int'>

In [ ]:
x = 5
print(type(x))

<class 'int'>

In [ ]:
l=[1,2,3,4]
print(type(l))

<class 'list'>

In [ ]:
t=(1,2,3,4)
print(type(t))

<class 'tuple'>

In [ ]:
s={1,2,3,4}
print(type(s))

<class 'set'>

In [ ]:
d = {
  "a": 1,
  "b": 2,
  "c": 3
}
print(type(d))

<class 'dict'>

INT

In [ ]:
x = 1
y = 356562
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

Float<br>

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [ ]:
x = 2.10
y = 10.0
z = -35.5

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Complex

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

Type Conversion<br>
You can convert from one type to another with the int(), float(), and complex() methods

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [ ]:
#convert from int to float:

a=float(x)
print(type(a))

<class 'float'>

In [ ]:
#convert from float to int:
b=int(y)
print(b)

2

In [ ]:

#convert from int to complex:

In [ ]:



a = float(x)


b = int(y)

c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

Python Casting

Specify a Variable Type
There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal 

float() - constructs a float number from an integer literal, a float literal or a string literal 

str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
a=int("1")
print(type(a))

<class 'int'>

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
a=str(1)
b=str(2)
c=a+b
print(c)
#1+2=12

12

#Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

In [ ]:
print("ABC")
print('ABC')

ABC
ABC

Assign String to a Variable

In [ ]:
a = "Hello"
print(a)

Hello

Multiline Strings

In [ ]:
a = """ Hello World, Learn Everything AI is my attempt to teach Data Science and coding basics to people in a short time, which took me ages to learn. 
Artificial Intelligence, Data Analytics, Mathematics, Machine Learning, I simplify these topics to help you understand how they work. 
Using this knowledge, you can build wealth and live a happier, more meaningful life."""

print(a)

 Hello World, Learn Everything AI is my attempt to teach Data Science and coding basics to people in a short time, which took me ages to learn.
Artificial Intelligence, Data Analytics, Mathematics, Machine Learning, I simplify these topics to help you understand how they work.
Using this knowledge, you can build wealth and live a happier, more meaningful life.

In [ ]:
a = '''Hello World, Learn Everything AI is my attempt to teach Data Science and coding basics to people in a short time, which took me ages to learn. 
Artificial Intelligence, Data Analytics, Mathematics, Machine Learning, I simplify these topics to help you understand how they work. 
Using this knowledge, you can build wealth and live a happier, more meaningful life.'''
print(a)

Hello World, Learn Everything AI is my attempt to teach Data Science and coding basics to people in a short time, which took me ages to learn.
Artificial Intelligence, Data Analytics, Mathematics, Machine Learning, I simplify these topics to help you understand how they work.
Using this knowledge, you can build wealth and live a happier, more meaningful life.

#Strings are Arrays

strings in Python are arrays of bytes representing unicode characters.

Square brackets can be used to access elements of the string.

In [ ]:
a = "HELLLO"
print(a[1])
print(a[3])

E
L

String Length

In [ ]:
a = "HELLLO"
print(len(a))

6

Slicing Strings

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

Slice From the Start

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

Slice To the End

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

#Negative Indexing

Use negative indexes to start the slice from the end of the string

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [ ]:
b = "Hello, World!"
print(b[-6:-3])

Wor

Modify Strings

1.Upper Case

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

2.Lower Case

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

Remove Whitespace

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

Replace String

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

Split String

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are

In [ ]:
age = 18
txt = "My name is ABC, and I am {}"
print(txt.format(age))

My name is ABC, and I am 18

In [ ]:
quantity = 1
itemno = 10
price = 50
myorder = "I want {} pieces of item {} for {} rupees."
print(myorder.format(quantity, itemno, price))

I want 1 pieces of item 10 for 50 rupees.

In [ ]:
quantity = 1
itemno = 10
price = 50
print("I want {} pieces of item {} for {} rupees.".format(quantity, itemno, price))

I want 1 pieces of item 10 for 50 rupees.

In [ ]:
quantity = 1
itemno = 10
price = 50
print("I want {1} pieces of item {0} for {2} rupees.".format(quantity, itemno, price))

I want 10 pieces of item 1 for 50 rupees.

Boolean Values

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

Python Operators

In [ ]:
print(10 - 5)

5

Python divides the operators in the following groups:

Arithmetic operators<br>
Assignment operators<br>
Comparison operators<br>
Logical operators<br>
Identity operators<br>
Membership operators<br>
Bitwise operators<br>








![image.png]()

In [ ]:
x=5
y=10

In [ ]:
z=x+y
print(z)

15

In [ ]:
z=x-y
print(z)

-5

In [ ]:
z=x*y
print(z)

50

In [ ]:
z=x/y
print(z)

0.5

In [ ]:
z=x%y
print(z)

5

In [ ]:
z=x//y
print(z)

0

In [ ]:
z=x**2
print(z)

25

In [ ]:
z=y**2
print(z)

100