<a href="https://colab.research.google.com/github/learneverythingai/Shivam-Modi-Data-Science-Analytics-Course/blob/main/Python%20Course/Python_Video3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Conditions and If statements

Equals: a == b<br>
Not Equals: a != b<br>
Less than: a < b<br>
Less than or equal to: a <= b<br>
Greater than: a > b<br>
Greater than or equal to: a >= b<br>

In [ ]:
a = True
b = False
print(a)
print(b)

True
False

In [ ]:
print('not a = ',not a)
print('not b = ',not b)
print('a and b = ',a and b)
print('a or b = ',a or b)
print('a and not b = ', a and not b)

not a =  False
not b =  True
a and b =  False
a or b =  True
a and not b =  True

#conditinals statements 

i.e IF else,elif.

In [ ]:
a = 20
b = 100
if b < a:
  print("b is greater than a")

In this example we use two variables, a and b, which are used as part of the if statement to test whether b is greater than a. As a is 33, and b is 200, we know that 200 is greater than 33, and so we print to screen that "b is greater than a"

ELIF

The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 11
b = 11
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

Else

The else keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

And

The and keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are correct")

Both conditions are correct

Or

The or keyword is a logical operator, and is used to combine conditional statements

In [ ]:
a = 200
b = 33
c = 500
if a > b or a < c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [ ]:

# for a different result
num1 = 10
num2 = 14
num3 = 12

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

The largest number is 14

Nested If

You can have if statements inside if statements, this is called nested if statements.

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

While Loops

The while Loop
With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

The break Statement

With the break statement we can stop the loop even if the while condition is true

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

continue Statement

continue statement we can stop the current iteration, and continue with the next

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

Calculate factorial of a number ( Here number=3) using while loop

In [ ]:
number = 3
fac=1
if number == 0:
  print(1)
else:
  while number>=1:
    fac = fac*number
    number = number-1
print(fac)

6

For Loops

for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10):
  print(i,"=",i*i)

1 = 1
2 = 4
3 = 9
4 = 16
5 = 25
6 = 36
7 = 49
8 = 64
9 = 81

In [ ]:
for i in range(0,50,3):
  print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

Looping Through a String

Even strings are iterable objects, they contain a sequence of characters

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

break Statement

the break statement we can stop the loop before it has looped through all the items

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

continue Statement

With the continue statement we can stop the current iteration of the loop, and continue with the next

In [ ]:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
for i in range(0, 5):
  for j in range(0, i+1):
    print("* ",end="")
  print("\r")

*
* *
* * *
* * * *
* * * * *

In [ ]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

print("The sum is", sum)

The sum is 48