<a href="https://colab.research.google.com/github/learneverythingai/Shivam-Modi-Data-Science-Analytics-Course/blob/main/Python%20Course/GoogleColab-Variables-Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Author and Instructor of this Notebook is Shivam Modi.
## LinkedIn: https://www.linkedin.com/in/shivam-modi-datascientist/

### Python- INDENTATION, NOTES, VARIABLES,DATA TYPES, OPERATORS, INPUT FUNCTION, TYPECASTING, PRINT ARGUMENTS

### What is Google Colab?
-  Google Colaboratory is a free online cloud-based Jupyter notebook environment that allows us to train our machine learning and   deep learning models on CPUs, GPUs, and TPUs.

### Benefits of Google Colab
Here are some of the benefits of using Google Colab:

- Accessibility: Google Colab is accessible from any web browser, so you don’t need to install any software on your computer. You can access your notebooks from anywhere worldwide, as long as you have an internet connection.
- Power: Google Colab provides access to powerful computing resources, including GPUs and TPUs. This means you can train and run complex machine-learning models quickly and efficiently.
- Collaboration: Google Colab makes it easy to collaborate with others on projects. You can share your notebooks with others, and they can edit and run your code in real-time.
- Education: Google Colab is an excellent tool for learning about machine learning and data science. Many tutorials and resources are available online, and you can also create and share your notebooks.

### Why Choose Google Colab?
Google Colab is a cloud-based machine learning platform that’s easy to use, affordable, and flexible.

- Easy to use: No setup required. Just create an account and start coding.
Affordable: Free for most tasks. Paid plans are available for more demanding needs.
- Flexible: Train and run machine learning models, process data, create visualizations, and collaborate with others.

Google Colab is an excellent choice for students, data scientists, researchers, and anyone who wants to start with machine learning or data science.

## Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

#### Features of Python
<pre>
1) Python is a widely used programming language.
2) Easy syntax and easy to grasp.
3) It is open source and has a large community.
4) It is dynamically typed.
5) It follows OOP(Object Orineted Programming) principles. OOP offers modular structure to the code.
6) It is high level language.
7) It is case sensitive.
</pre>

### What can Python do?

Python can be used on a server to create web applications.

Python can be used alongside software to create workflows.

Python can connect to database systems. It can also read and modify files.

Python can be used to handle big data and perform complex mathematics.

Python can be used for rapid prototyping, or for production-ready software development.

### Python Syntax compared to other programming languages

Python was designed for readability, and has some similarities to the English language with influence from mathematics.

Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.

Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

In [ ]:
print("hello world!!!!!!!!")

hello world!!!!!!!!

#### Applications
    1) Data Science/Data Analysis
    2) Machine Leanring/AI
    4) DL (Deep Learning)
    3) NLP (Natural Language Processing)
    5) CV (Computer Vision)
    6) Web Development
    7) Web Scraping (Data collection)
    8) Automation
    9) Fetching data through API(Application Programming Interface)
    etc

### Python Indentation

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [ ]:
if 1 < 5:
    print("1 less than 5")

1 less than 5

In [ ]:
if 1 < 5:
print("1 less than 5")

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-2-1a464ac54a5e>, line 2)

# Notes
1) Line1<br>
2) Line2

# Header 1
## Header 2
### Header 3
#### Header 4
##### Header 5

#### Variables
<pre>
1) Entity which is used to store some data. Data can be of any data type.
2) A variable can be reassigned, reinitialized and redeclared.
3) Multiple variables can be created in a same line separated by comma.
</pre>

#### Comments
<pre>
1) Meant for internal documentation.
2) Comments in Python start with #.
3) Comments dont get executed.
</pre>

To comment/uncomment multiple lines<br>
Ctrl + /

In [ ]:
a = 25
print(a)  # () - parenthesis
# The varaible a stores the value of 25.
# The variable a is intialized with the values of 25.
# The variable a is assigned with the values of 25.
# There is a variable declared with the name a retaining value of 25.

25

In [ ]:
# A variable can be reassigned, reinitialized and redeclared.
x = 20
print(x)
x = 10
print(x)

20
10

In [ ]:
print(x)

10

In [ ]:
# Multiple variables can be created in a same line separated by comma.
x1,x2,x3 = 10,5,7
print(x1,x2,x3)  # by default separator is ' '

10 5 7

In [ ]:
n1,n2,n1 = 12,13,14
print(n1,n2,n1)
print(n1)

14 13 14
14

### Rules for naming a variable
<pre>
1) Should start with alphabetic characters or underscores( A-Z, a-z or _(underscore))
2) Should not start with number
3) Should not contain space in between
4) Should not contain special characters(except underscore)
5) Python keywords should be avoided as variable name.
Examples of Python keywords - if,else,for,in,not,and,print,type,min,max etc

</pre>

In [ ]:
sdvc123 = "Google"
print(sdvc123)

Google

In [ ]:
ABG23 32sdc = "Hello"
print(ABG2 332sdc)

SyntaxError: invalid syntax (3648546956.py, line 1)

In [ ]:
_sc2_343_ = "Python"
print(_sc2_343_)

Python

In [ ]:
123dfvds = "Hello"
print(123dfvds)

SyntaxError: invalid syntax (2808616227.py, line 1)

In [ ]:
IF = "laptop"
print(IF)

laptop

In [ ]:
PRINT = 50
print(PRINT)

50

- Camel Case

Each word, except the first, starts with a capital letter:

myVariableName = "John"

In [ ]:
myVariableName = "John"

- Pascal Case

Each word starts with a capital letter

- Snake Case

Each word is separated by an underscore character

In [ ]:
my_variable_name = "John"

Many Values to Multiple Variables

In [ ]:
x, y, z = "abc", "xyz", "pqr"
print(x)
print(y)
print(z)

abc
xyz
pqr

One Value to Multiple Variables

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

- Unpack a Collection

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [ ]:
fruits = ["abc", "xyz", "pqr"]
x, y, z = fruits
print(x)
print(y)
print(z)

abc
xyz
pqr

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)
#python is awesone

Python is awesome

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
x = 5
y = 10
print(x + y)

15

In [ ]:
x = 5
y = "John"
print(x, y)
# print(x+y)

5 John

In [ ]:
x = ['India','Israel','Canada']
for i in x:
  print(i)

India
Israel
Canada

In [ ]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

#### Dynamic Typing
The data type of the varaible is defined at run time.

#### type()
Returns the data type of the argument passed.

In [ ]:
w = 15
print(w)
print(type(w))
type(w)

15
<class 'int'>

int

In [ ]:
# Python is dynamically typed
s = 10
print(type(s))
s  = "hello"
print(type(s))
print(s)

<class 'int'>
<class 'str'>
hello

In [ ]:
print(type(s))

<class 'str'>

In [ ]:
type(s)

str

In [ ]:
q = 20
print(q)

20

In [ ]:
# n1,n2,n1
print(n1)

14

#### Data Types
Python Data Types

Text Type: str

Numeric Types: int, float, complex

Sequence Types: list, tuple

Mapping Type: dict

Set Types: set

Boolean Type: bool

int, float, bool, str, NoneType,complex, list,tuple,set

#### integer

In [ ]:
#integer
d1 = 234
print(d1)
print(type(d1))

234
<class 'int'>

In [ ]:
x = 1
y = 356562
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

#### Float

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [ ]:
#float
d2 = 4.5
print(d2)
print(type(d2))  # decimal numbers are represented in float

4.5
<class 'float'>

In [ ]:
x = 2.10
y = 10.0
z = -35.5

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
#bool
d3 = True  # False
print(d3)
print(type(d3))  # bool

True
<class 'bool'>

#### Str
<pre>
1) They are enlclosed in single , double or triple quotes
2) Multiline str are enclosed in triple quotes. Can be used for single line str as well.
    Single Quotes - ' '
    Double Quotes - " "
    Triple Quotes - """ """ or ''' '''
</pre>

In [ ]:
d4,d5 = "Hello",'Google'
print(d4,d5)
print(type(d4),type(d5))

Hello Google
<class 'str'> <class 'str'>

In [ ]:
d6 = '''Multiline str are enclosed in
triple quotes'''
print(d6)
print(type(d6))

Multiline str are enclosed in
triple quotes
<class 'str'>

#### Complex

In [ ]:
#Complex
d7 = 5 + 7j
print(d7)
print(type(d7))
# p + qj where p is real part, q is the complex part, j is sqrt of -1

(5+7j)
<class 'complex'>

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
#NoneType
d8 = None  # not equivalent to 0 or ''
print(d8)
print(type(d8))

None
<class 'NoneType'>

In [ ]:
#list
l=[1,2,3,4]
print(type(l))

<class 'list'>

In [ ]:
#tuple
t=(1,2,3,4)
print(type(t))

<class 'tuple'>

In [ ]:
#set
s={1,2,3,4}
print(type(s))

<class 'set'>

In [ ]:
#dictionary
d = {
  "a": 1,
  "b": 2,
  "c": 3
}
print(type(d))

<class 'dict'>