<a href="https://colab.research.google.com/github/learneverythingai/Shivam-Modi-Data-Science-Analytics-Course/blob/main/Python%20Course/List-Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#The Author and Instructor of this Notebook is Shivam Modi.
##LinkedIn: https://www.linkedin.com/in/shivam-modi-datascientist/

### List
1) List is ordered collection of elements of same or different data types<br>
2) List elements are enclosed in square brackets [] and are separated by comma<br>
3) List is mutable (can be changed)<br>
4) Indexing and slicing is allowed in list<br>
5) List can store duplicate elements

### Tuple

1) Tuple is also an ordered collection of elements of same or different data types<br>
2) Tuple elements are represented in () and the elements are separated by comma.<br>
3) Tuple is Immutable(cant be changed)<br>
4) Indexing and slicing is allowed<br>
5) Duplicate elements are allowed<br>

#### Empty list or tuple Creation

In [ ]:
a1,a2 = [], list()
a3,a4 = (), tuple()
print(a1,type(a1))
print(a2,type(a2))
print(a3,type(a3))
print(a4,type(a4))

[] <class 'list'>
[] <class 'list'>
() <class 'tuple'>
() <class 'tuple'>

#### Examples of list/tuple

In [ ]:
w1 = [10,None,25,45,5.7,"Google"]
w2 = (30,45,'Hello',None,False)
print(w1,len(w1),type(w1))
print(w2,len(w2),type(w2))

[10, None, 25, 45, 5.7, 'Google'] 6 <class 'list'>
(30, 45, 'Hello', None, False) 5 <class 'tuple'>

#### Indexing and Slicing in List/Tuple

In [ ]:
q = [10,20,30,40,50,60,70,80,90,100]
print(q[7],q[-8])
print(q[2:8:2])  # start=2,end=8,step=+2
print(q[-1:2:-3])  # start=-1,end=2,step=-3

80 30
[30, 50, 70]
[100, 70, 40]

#### Iteration in List/tuple

In [ ]:
a1 = [10,20,'Hello',18,14,21]
# Method-1, element wise iteration
for i in a1:   # i copprresponds to each and every element of list a1
    print(i,end=' ') #end=/n

10 20 Hello 18 14 21

In [ ]:
a1 = [10,20,'Hello',18,14,21]
# Method-2, Index wise iteration
for i in range(len(a1)): # start=0,end=len(a1)=6,step=+1, i=0,1,2,3,4,5 # syntax of range = range(start,end,step)
    # i is the index of the elements of list a1
    print(i,a1[i])

0 10
1 20
2 Hello
3 18
4 14
5 21

In [ ]:
a1 = [5,6,'IPL',8,9]
i =0
while i<len(a1):
    print(i,a1[i])
    i += 1

0 5
1 6
2 IPL
3 8
4 9

### Tuple Methods/Functions


1) count() - returns the count of the element.<br>
2) index() - returns the index of 1st occurence of the element from the left<br>

In [ ]:
w = (10,15,20,25,30,20,25,20,25)
print('Count function')
print(w.count(20))
print(w.count(30))
print(w.count('Hi'))
print()
print('Index function')
print(w.index(20))
print(w.index(25))
# print(w.index('Hi'))   # Error

Count function
3
1
0

Index function
2
3

### List Functions

#### 1) count() and index()

In [ ]:
w = [10,15,20,25,30,20,25,20,25]
print('Count function')
print(w.count(20))
print(w.count(30))
print()
print('Index function')
print(w.index(20))
print(w.index(25))
print(w.index('hello'))   # Error

Count function
3
1

Index function
2
3

ValueError: 'hello' is not in list

#### 3) clear()
Empties the list

In [ ]:
s = [10,20,30]
print(s)
s.clear()
print(s)

[10, 20, 30]
[]

#### 4) pop(index)
Removes the list element based on index. If no index is passed last element(from right) is removed. Returns error if index is out of range

In [ ]:
w = [5,7,11,13,17,10,17,20]
print(w)
w.pop(3)         # removes element at index 3 from list w
print(w)
print(w.pop(5))  # removes element at index 5 from list w
print(w)
print(w.pop())   # removes last element(from right) from list
print(w)

[5, 7, 11, 13, 17, 10, 17, 20]
[5, 7, 11, 17, 10, 17, 20]
17
[5, 7, 11, 17, 10, 20]
20
[5, 7, 11, 17, 10]

#### 6) remove(element)
It removes element from the list(first occurence from the left) based on the element passed as an argument. It removes one element at a time.<br>
2) It returns error if no element is passed or the element passed in not in the list.<br>
3) Using remove inside print() will not return the element being removed.<br>
4) pop() removes elememt based on index and remove() removes element based on the value(first occurence from left)

In [ ]:
w = [5,7,11,13,17,10,17,20]
print(w)
w.remove(11)  # removes the element 11 from the list w
print(w)
# w.remove()    # Error
print(w)

[5, 7, 11, 13, 17, 10, 17, 20]
[5, 7, 13, 17, 10, 17, 20]

TypeError: list.remove() takes exactly one argument (0 given)

In [ ]:
w = [5,7,11,13,17,10,17,20]
#Practice- remove all duplictaes of 17 using for loop
# for i in w:
#     if i!=17:
#         print(i)

i=0
while i<len(w):
    if i!=17:
        print(w[i])
    i+=1

5
7
11
13
17
10
17
20

#### 7) insert(index,element)
Inserts the element at the specified index

In [ ]:
w = [5,7,8,11,21,34,45,56]
print(w)
w.insert(3,'Python') # 'Python' is inserted at index 3
print(w)
w.insert(8,'Hello')  # 'Hello' is inserted at index 8
print(w)
w.insert(-4,70)      # 70  is inserted at index -5
print(w)
w.insert(len(w)+1,'IPL')  # 'IPL' is inserted at index 11
print(w)

[5, 7, 8, 11, 21, 34, 45, 56]
[5, 7, 8, 'Python', 11, 21, 34, 45, 56]
[5, 7, 8, 'Python', 11, 21, 34, 45, 'Hello', 56]
[5, 7, 8, 'Python', 11, 21, 70, 34, 45, 'Hello', 56]
[5, 7, 8, 'Python', 11, 21, 70, 34, 45, 'Hello', 56, 'IPL']


#### 8) sort()

In [ ]:
w = [10,2.2,18,1.5,8,25,14]
print(w)
w.sort()  # asc order
print(w)
w.sort(reverse=True)  # desc order
print(w)

[10, 2.2, 18, 1.5, 8, 25, 14]
[1.5, 2.2, 8, 10, 14, 18, 25]
[25, 18, 14, 10, 8, 2.2, 1.5]

In [ ]:
# A-Z = 65-90
# a-z = 97-122
# In strings, sorting works based on ASCII code

In [ ]:
w1 = ['World','Python','Number','Laptop','LaDder','numbers']
print(w1)
w1.sort()
print(w1)
w1.sort(reverse=True)
print(w1)

['World', 'Python', 'Number', 'Laptop', 'LaDder', 'numbers']
['LaDder', 'Laptop', 'Number', 'Python', 'World', 'numbers']
['numbers', 'World', 'Python', 'Number', 'Laptop', 'LaDder']

#### 9) append(element)
It adds an element to the end of the list(right end)

In [ ]:
g = [5,7]
print(g)
g.append(10)      # append an int
print(g)
g.append('List')  # append a str
print(g)
g.append([15,16])  # append a list
print(g)
g.append((20,22))  # append a tuple
print(g)
g.append({'Name':'Snehil','Age':20})  # append a dict
print(g)

[5, 7]
[5, 7, 10]
[5, 7, 10, 'List']
[5, 7, 10, 'List', [15, 16]]
[5, 7, 10, 'List', [15, 16], (20, 22)]
[5, 7, 10, 'List', [15, 16], (20, 22), {'Name': 'Snehil', 'Age': 20}]

In [ ]:
# Populate an empty list
# Create a list containing even numbers between 30 and 50 (both inclusive)

r = []
for i in range(30,51):
    if i%2==0:
        r.append(i)
print(r)

q=[]
for i in range(30,51):
    if i%2!=0:
        q.append(i)
print(q)

[30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
[31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

#### Iterators or iterables
1) Examples - str,list(),tuple(),set(),dict(),range() etc<br>
2) Int,float,bool,None,complex are not iterables<br>

#### 10) extend()
It adds an element to the end of the list(right end) from an iterator(adds element of the iterator)

In [ ]:
s = [4,8]
print(s)
s.extend(10)    # Error -> 10 is not an iterable
print(s)

[4, 8]

TypeError: 'int' object is not iterable

In [ ]:
s = [4,8]
print(s)
s.extend([10,12])   # extend a list
print(s)
s.extend((18,20))   # extend a tuple
print(s)
s.extend('Bye')    # extend a str
print(s)
s.extend({'a1':44,'a2':55})    # extend a dict
# by dafault dict allows iteration on its keys
print(s)

[4, 8]
[4, 8, 10, 12]
[4, 8, 10, 12, 18, 20]
[4, 8, 10, 12, 18, 20, 'B', 'y', 'e']
[4, 8, 10, 12, 18, 20, 'B', 'y', 'e', 'a1', 'a2']

#### List is Mutable and Tuple is Immutable

In [ ]:
d  = [10,20,30,40,50]
print(d[2])
d[2] = 'Python'
print(d)  # List is mutable

30
[10, 20, 'Python', 40, 50]

In [ ]:
d1  = (10,20,30,40,50)
print(d1[2])
d1[2] = 'Python'
print(d1)  # tuple is immutable

30

TypeError: 'tuple' object does not support item assignment

#### Using min,max and sum of List/tuple

In [ ]:
# w = [10,20,30,45]
w = (10,20,30,45)
print(min(w))
print(max(w))
print(sum(w))

10
45
105

#### List properties
1) List/tuple can be concatenated with another list/tuple respectively.<br>
2) in, not in, * operators can be used with list and tuple<br>

In [ ]:
r1 = [3,4,5]
r2 = [10,20,30,40]
r3 = r1+r2
print(r3)

[3, 4, 5, 10, 20, 30, 40]

In [ ]:
r1 = (3,4,5)
r2 = (10,20,30,40)
r3 = r1+r2
print(r3)

(3, 4, 5, 10, 20, 30, 40)

In [ ]:
s = input('Enter a laptop brand: ')
w = ['HP','Lenovo','Dell','Asus','Apple']
if s in w:
    print('Match')
else:
    print('No match')

Enter a laptop brand: samsung
No match

In [ ]:
a = [10,20,30]*2   # list is replicated 2 times
print(a)

[10, 20, 30, 10, 20, 30]