<a href="https://colab.research.google.com/github/learneverythingai/Shivam-Modi-Data-Science-Analytics-Course/blob/main/Python%20Course/Operators%26Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Author and Instructor of this Notebook is Shivam Modi.
## LinkedIn: https://www.linkedin.com/in/shivam-modi-datascientist/

## Operators

1) Entities using which we can perform mathematical operations are operators.<br>
2) The entities on which operators are applied are referred to as operands.

##### There are several types of operators:

#### 1) Arithmetic Operators

In [ ]:
a,b = 5,2
print(a+b)
print(a-b)
print(a*b)
print(a/b)   # always return float
print(a//b)  # int division
print(a**b)  # power => a raised to power of b
print(b**a)  # b raised to power of a
print(a%b)   # modulo or mod operator => return remainder
print(pow(a,b))  # a raised to power b

7
3
10
2.5
2
25
32
1
25

#### Assignment Operators
used to assign value to a variable

In [ ]:
a,b =  5,2
print(a,b)
a += b     # a = a+b # this one of the compact syntax in which we can use assignment operators
print(a,b) # a is reinitialised as a+b
a -= b     # a = a-b
print(a,b)
b *= a     # b = b*a
print(a,b)
a /= b     # a = a/b
print(a,b)

5 2
7 2
5 2
5 10
0.5 10

#### 3) Relational/Comparison Operator
They return True or False as output

In [ ]:
a,b = 5,2
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a==b)  # comparison operator => Is a equal to b
print(a!=b)  # not equal to operator => Is a not equal to b

True
True
False
False
False
True

#### 4) Membership Operators (in, not in)
1) It can be applied on Str,list,tuple etc but not on int,float,bool<br>
2) It returns True of False as its output

In [ ]:
s = "Welcome to Python functions and libraries."
print("Python" in s)
print("python" in s)
print("ons a" in s)
print('where' in s)
print('where' not in s)

True
False
True
False
True



### <b>Typecasting</b><br>
Changing  from one data type to another is called Typecasting

In [ ]:
## You can convert from one type to another with the int(), float() methods
x = 1    # int
y = 2.8  # float

#convert from int to float:

a=float(x)
print(type(a))

#convert from float to int:
b=int(y)
print(b)

print(type(a))
print(type(b))

<class 'float'>
2
<class 'float'>
<class 'int'>

- Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal

float() - constructs a float number from an integer literal, a float literal or a string literal

str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
a=int("1")
print(type(a))

<class 'int'>

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
a=str(1)
b=str(2)
c=a+b
print(c)
#1+2=12

12

#### Input function

1) Used to accept input from User.<br>
2) Return type of input() is str.<br>

In [ ]:
z = input('Enter your Name: ')
print(z)

Enter your Name: Shubham
Shubham

In [ ]:
s = input('Enter a num: ')
print(s)
print(type(s))

Enter a num: 4.3
4.3
<class 'str'>

In [ ]:
# User input to be int
w1 = int(input('Enter a num: '))
print(w1)
print(type(w1))

Enter a num: 22
22
<class 'int'>

In [ ]:
w1 = int(input('Enter a num: '))
print(w1)
print(type(w1))

Enter a num: Google

ValueError: invalid literal for int() with base 10: 'Google'

In [ ]:
# User input to be float

w2 = float(input('Enter a num: '))
print(w2)
print(type(w2))

Enter a num: 4.5
4.5
<class 'float'>

#### Print Formatting

In [ ]:
fname = input('Enter FName: ')
lname = input('Enter LName: ')
age = int(input('Enter Current Age: '))
print(fname,lname,'was',age-5,'yrs old in 2018')
print(f'{fname} {lname} was {age-5} yrs old in 2018')
print('{} {} was {} yrs old in 2018'.format(fname,lname,age-5))

Enter FName: Ankit
Enter LName: Sharma
Enter Age: 22
Ankit Sharma was 17 yrs old in 2018
Ankit Sharma was 17 yrs old in 2018
Ankit Sharma was 17 yrs old in 2018

### Strings

In [ ]:
s = "Hello World "
print(s)
print(len(s))
print(type(s))

### Indexing
1) Every string, list, tuple elements are indexed by default.<br>
<b>
2) Indexes start from left to right from 0 towards positive<br>
3) Indexes start from right to left from -1 towards negative<br></b>
4) To fetch an element at a particular index, we mention the
variable name followed by the corresponding index in the []

Examples:<pre>
    a = "Python"
    a[2]
    </pre>

#### Note
<pre>
1) Positive index range from 0 to len(str)-1.
2) Negative indexes range from -1 to -len(str).
</pre>

In [ ]:
s = "Python String Slicing"
print(s)
print(len(s))

Python String Slicing
21

<img src="str_idx_slicing.png">

In [ ]:
print(s[7],s[12],s[9],s[13],s[19])
print(s[-5],s[-18],s[-11])
print(s[len(s)-1],s[-len(s)])

S g r   n
i h i
g P

### Slicing

1) Slicing is extracting a part of a string,list or tuple <br>
2) Slicing can be performed from left to right or right to left<br>

Slicing syntax<br>
a = "Learning Python"<br>
a[start:end:step]

<b>start :</b> specifies the index where slicing begins<br>
<b>end :</b> specifies the index upto which the slicing is performed.<br>
<b>step :</b> specifies the number of elements to skip/jump while slicing.
    Its default value is +1<br>

### Left to Right Slicing - a[start:end:step]

1) If end is mentioned, slicing is perfomed till <b>end-1</b>, otherwise till len(s)-1 where s is the string to be sliced(extreme right end)<br>
2) Default step value is +1(if not mentioned)<br>
3) If start is not mentioned, its default value is 0<br>
4) Step size will be positive for left or right slicing<br>

<img src="str_idx_slicing.png">

In [ ]:
print(s[:4])   # start=0, end=4,step=+1
print(s[5:12]) # start=5,end=12,step=+1
print(s[15:])  # start=15,step=+1
print(s[-15:]) # start=-15,step+=1

Pyth
hon S
n Strin
licing
 String Slicing
ring

### Right to Left Slicing - a[start:end:step]

1) If end is mentioned, slicing is perfomed till <b>end+1</b>, otherwise till -len(s) where s is the string to be sliced(extreme left end)<br>
2) Step size has to be explicitly mentioned in negative<br>
3) Step size will be negative for right to left slicing<br>

In [ ]:
print(s[10:4])      # start=10,end=4,step=+1   # no output
print(s[10:4:-1])   # start=10,end=4,step=-1
print(s[-10:1:-2])  # start=-10,end=1,step=-2
print(s[-6:-19:-3]) # start=-6,end=-19,step=-3

irtS n
nrSnh
Sgit
lgr h
nt

<img src="str_idx_slicing.png">

#### Note
1) If start:end and step are in opposite direction, there will be no output

#### Special case
<pre>
1) If start and/or end is absent,slicing direction is goverend by step size
2) Note
    a) if step size = positive => left to right Slicing
    b) if step size = negative => right to left Slicing
</pre>

#### 2) When end is absent, start and step are present

In [ ]:
print(s[4::3])    # start=4,step=+3
print(s[-10::-2]) # start=-10,step=-2

oSi in
gr hP
nrSnhy
igSiig

#### 3) When start and end both are absent,step is present

In [ ]:
print(s[::2])  # step=+2
print(s[::-1]) # step=-1   => reverse the string

Pto tigSiig
gnicilS gnirtS nohtyP

#### Accept a name as user input as fname and lname. Print initials of the name
Sample: <br>
virat<br>
kohli<br>
Output : V_K

In [ ]:
# try yourself

### String Methods/Functions

#### upper(), lower(), title(), captalize(), swapcase()
upper() - Converts etire string to uppercase.<br>
lower() - Converts etire string to lowercase.<br>
title() - First alphabet of each word in the string will be capitalized(upper case)<br>
capitalize() - First alphabet of the first word will be capitalized(upper case)<br>
swapcase() - Converts upper case into lower case and vice-versa

In [ ]:
s1,s2,s3 = "hello","WELCOME", "PyThOn"
s4 = "learning strings in python"
print(s1.upper())
print(s2.lower())
print(s4.title())
print(s4.capitalize())
print(s3.swapcase())

HELLO
welcome
Learning Strings In Python
Learning strings in python
pYtHoN

#### isupper( ) and islower()
<pre>
isupper() - Returns T if str contains atleast 1 uppercase charcater and no lowercase
islower() - Returns T if str contains atleast 1 lowercase charcater and no uppercase
</pre>

In [ ]:
w1,w2,w3 = "india",'GOOGLE INDIA','AMAZON 1$&^23'
print(w1.isupper())
print(w2.isupper())
print(w3.isupper())

False
True
True

In [ ]:
w1,w2,w3 = "india",'GOOGLE INDIA','Amazon 1$&^23'
print(w1.islower())
print(w2.islower())
print(w3.islower())

True
False
False

#### split()
1) It splits the string based on the argument passed. Default splitting criteria is ' '<br>
2) It returns a list<br>

In [ ]:
s = """Ronaldo is light years
ahead of Messi."""
print(s.split())        # default split is ' '
print(s.split('i'))     # split based on 'i'
print(s.split('light'))

['Ronaldo', 'is', 'light', 'years', 'ahead', 'of', 'Messi.']
['Ronaldo ', 's l', 'ght years \nahead of Mess', '.']
['Ronaldo is ', ' years \nahead of Messi.']

#### String Properties
1) String is immutable(It cant be changed)<br>
2) String can be concatenated(placing strings adjacent to each other).

In [ ]:
s = "Hello World"
print(s[6])
s[6] = 'z'
print(s)
# Hence str is immutable

W

TypeError: 'str' object does not support item assignment

In [ ]:
#STRING CONCATENATION
w1 = "learning"
w2 = "python"
w3 = "SQL"
print(w1+" "+w2+" "+w3)

learning python SQL