<a href="https://colab.research.google.com/github/learneverythingai/Shivam-Modi-Data-Science-Analytics-Course/blob/main/Python%20Course/Python_IntroVideo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

What can Python do?

Python can be used on a server to create web applications.

Python can be used alongside software to create workflows.

Python can connect to database systems. It can also read and modify files.

Python can be used to handle big data and perform complex mathematics.

Python can be used for rapid prototyping, or for production-ready software development.

Python Syntax compared to other programming languages

Python was designed for readability, and has some similarities to the English language with influence from mathematics.

Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.

Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

In [ ]:
print("hello world!!!!!!!!")

hello world!!!!!!!!

Python Indentation

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [ ]:
if 1 < 5:
    print("1 less than 5")

1 less than 5

In [ ]:
if 1 < 5:
print("1 less than 5")

IndentationError: ignored

Comments can be used to make the code more readable.

In [ ]:
#This is a comment
#thiS IS USED FOR COMMENTS
print("Hello, World!")

Hello, World!

In [ ]:
"""
 COMMENTS 
Multiple line comments
"""
print("hello")

hello

#Creating Variables

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
a=5
b="XYZ"
print(a)
print(b)

5
XYZ

In [ ]:
x = 10
y = "ABC"
print(x)
print(y)

10
ABC

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x = 4       # x is of type int
print(x)
x = "ABC" # x is now of type str
print(x)

4
ABC

In [ ]:
x = 5
y = "ABC"
z= 10.0
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

Single or Double Quotes?
String variables can be declared either by using single or double quotes

In [ ]:
x = "ABC"
# is the same as
x = 'John'
print(x)

John

In [ ]:
a="ABC"

In [ ]:
a = 4
A = "Sally"
print(a)
print(A)
#A will not overwrite a

4
Sally

#Python - Variable Names


Variable Names<br>
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). <br>
Rules for Python variables:<br>
A variable name must start with a letter or the underscore character<br>
A variable name cannot start with a number<br>
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )<br>
Variable names are case-sensitive (age, Age and AGE are three different variables)<br>

In [ ]:
myvar = "ABCD"
my_var = "ABCD"
_my_var = "ABCD"
myVar = "ABCD"
MYVAR = "ABCD"
myvar2 = "ABCD"

In [ ]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: ignored

Camel Case

Each word, except the first, starts with a capital letter:

myVariableName = "John"

In [ ]:
myVariableName = "John"

Pascal Case
Each word starts with a capital letter

In [ ]:
MyVariableName = "John"


Snake Case
Each word is separated by an underscore character

In [ ]:
my_variable_name = "John"

Many Values to Multiple Variables

In [ ]:
x, y, z = "abc", "xyz", "pqr"
print(x)
print(y)
print(z)

abc
xyz
pqr

One Value to Multiple Variables

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Unpack a Collection<br>
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [ ]:
fruits = ["abc", "xyz", "pqr"]
x, y, z = fruits
print(x)
print(y)
print(z)

abc
xyz
pqr

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)
#python is awesone

Python is awesome

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
x = "Python is awesome"
print(x)

Python is awesome

In [ ]:
x = 5
y = 10
print(x + y)

15

In [ ]:
x = 5
y = "John"
print(x, y)

5 John

In [ ]:
x = ['India','Israel','Canada']
for i in x:
  print(i)

India
Israel
Canada

In [ ]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9